.btn {
	background-color: #ff6464;
	height: 47px;
	font-weight: 500;
	font-size: 20px;
	line-height: 29 / 20 * 100%;
	color: #fff;
	text-decoration: none;
	border-radius: 2px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0px 20px;
	transition: background-color 0.3s ease 0s;
	@media (min-width: 992px) {
		&:hover {
			background-color: #dd7474;
		}
	}
	&._fw {
		width: 100%;
	}
}
