@import "_header";

body {
	font-style: 14px;
	color: #000;
	&._lock {
		overflow: hidden;
	}

	div {
		font-style: 10px;
	}
}

// $minWidth: 230px;
// $maxWidth: 1152;
// $maxWidthContainer: 856;
// $md1: $maxWidthContainer + 12;
// $md2: 991.98;
// $md: 767.98;
// $md4: 479.98;
