@import "../../../varibles";

.work {
	padding-bottom: 60px;
	@media (max-width) {
		padding-bottom: 30px;
	}
	&__title {
		margin: 0px 0px 45px 0px;
		@media (max-width: $md3) {
			margin: 0px 0px 20px 0px;
		}
	}
}
