@import "../../../varibles";

.header {
	position: relative;
	z-index: 100;
	&__conteiner {
		max-width: 1032px;
		padding: 0 10px;
		margin: 0 auto;
	}
}

.menu {
	height: 82px;
	align-items: center;
	display: flex;
	justify-content: flex-end;
	@media (max-width: $md3) {
		height: 50px;
	}
	div {
		background-color: transparent;
		border: none;
		font-size: 45px;
		font-weight: 400;
		display: none;
		@media (max-width: $md3) {
			display: block;
			position: absolute;
			top: 20px;
			right: 17px;
			width: 30px;
			height: 20px;
			cursor: pointer;
			z-index: 5;
		}
	}
	&__body {
		height: 100%;
		font-style: normal;
		@media (max-width: $md3) {
			transform: translate(0px, -100%);

			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			overflow: auto;
			padding: 70px 10px 30px 10px;
			background-color: rgba(255, 255, 255, 0.95);
			&_active {
				transform: translate(0px, 0%);
				transition: transform 0.8s ease 0s;
			}
		}
		ul {
			margin: 30px 0px 0px 0px;
			list-style-type: none;
			li {
				margin: 0 0 10px 0px;
				&:last-child {
					margin: 0px;
				}
			}
			@media (min-width: $md3) {
				display: flex;
				li {
					margin: 0 33px 0 0px;
				}
			}
		}
	}
	&__link {
		font-size: 20px;
		font-weight: 500;
		color: #000;
		text-decoration: none;
		&_active {
			color: $colorHover;
		}
		@media (min-width: $md2) {
			&:hover {
				color: $colorHover;
			}
		}
		@media (max-width: $md3) {
			transition: all 0.3s ease 0s;
			font-size: 40px;
			display: block;
			text-align: center;
		}
	}
}

.menu__icon {
	display: none;
	@media (max-width: $md3) {
		&_active {
			> span {
				transition: all 0.3s ease 0s;
				top: calc(50% - 1px);
				left: 0px;
				position: absolute;
				width: 100%;
				height: 2px;
				&:first-child {
					transform: rotate(45deg);
					background-color: #000;
				}
				&:last-child {
					transform: rotate(-45deg);
					background-color: #000;
				}
			}
		}
		> span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: auto;
				bottom: 0;
			}
			&:last-child {
				top: 0;
				bottom: auto;
			}
		}
	}
}
